{% block page_content %}
<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                {{ comment.author.username }}
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
        </div>
        <div class="comment-body">
            {% if comment.text_html %}
                {{ comment.text_html | safe }}
            {% else %}
                {{ comment.text }}
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
