{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Edição de Perfil {% endblock %}

{% block page_content %}

<div class="page-header">
    {% with message = get_flashed_messages() %}
    {% if messages %}
    <ul id="messages" class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-success">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

<div class="page-header">
    <h2>Altere seu Perfil</h2>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
<div>
    <p>
        Esqueceu sua Senha?
        <a href="{{ url_for('main.change_password') }}"> Alterar Senha </a>
    </p>
</div>

{% endblock %}