{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Login {% endblock %}

{% block page_content %}
<div class="page-header">
    {% with message = get_flashed_messages() %}
    {% if messages %}
    <ul id="messages" class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-success">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2>Insira abaixo os seus dados: </h2>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}