{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div>
            {{ wtf.quick_form(form, enctype='multipart/form-data') }}
        </div>
    </div>
    {% if image %}
        <img src="{{ url_for('static', filename=image) }}">
    {% endif %}
    <div>
        <h3>Tópico:
            {% if text %}
            {{ text }}
            {% else %}
            Sem conteúdo
            {% endif %}!
        </h3>
    </div>
</div>
{% endblock %}