{% extends "base.html" %}
{% block title %} Perfil {% endblock %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h2> {{ user.username }} </h2>
        {% if user.name or user.location %}
    <p>
        {% if user.name %}
            {{ user.name }}
        {% endif %}
        {% if user.location %}
            From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
    </p>
        {% endif %}
        {% if user.about_me %}
    <p> {{ user.about_me }} </p>
            {% endif %}
    <p> Membro desde {{ moment(user.member_since).format('L') }}. Última Visualização {{ moment(user.last_seen).fromNow() }}.</p>

    <p>{{ user.topics.count() }} topics. {{ user.comments.count() }} comments.</p>

        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Editar Perfil</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}"> Editar Admin </a>
        {% endif %}
    </div>
</div>

<h3> Tópicos criados por: {{ user.username }}</h3>
{% include '_topics.html' %}

{% endblock %}